
#Nunavut {
    color: black;
    padding: 40px;
    text-align: right;

}


#Northwest Territories{
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}
 #Yukon{
     background-color: lightblue;
     color: black;
     padding: 40px;
     text-align: center;
 }
 #British Columbia{}
 #Alberta{}
 #Saskatchewan{}
 #Manitoba{}
